In [1]:
import requests
import csv
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sns


sales=[]#1)meta_scraper

#this scraper will scrape metacritic and will build a dataframe

#functions:
#"how_many_pages(response)" - taking a response, and calculates how many pages we need to traverse.
#"scrape_each_game(url)" - recives url to each game we need to scrape data from.


#dataframe structure: {'name':[], 'release date':[], 'developer': [], 'genre':[], 'rating':[], 'user rating':[],'age':[],'platforms':[],'number of players':[]}

#methodology_main:
#a dictionary is declared globally at top page (data_dict) with all values we dicided to scrape as columns names. for each column we will insert the values to proper list.

#on main part of algorithm we've set the url to land on the first page of ALL games from ALL platforms, already sorted: highest score first, lowest score last.add()
#we will get the amount of pages metacritic have on this. note: there are 100 results a page. and 191 pages (18/12/2021)
#we will get each game name and send it to the function "scrape_each_game" with the url to the game page, where all data we need is stored.

#methodology_scrape each game:
#the function is divided to each piece of data we need.
#note: there are pieces of information that can be None. each piece has an if statement to dicide if we are missing a value or not. if we miss a value we insert '-'

#general_problems:
#at first got 403 response, which mean we couldnt scrape the website, the solution was to send for evere response the next line:"userAgent = {'User-agent': 'Mozilla/5.0'}"

In [2]:
#2)priceCharting scraper
#scrape_each_game_price(name,name_for_search,game_year): 
#the function recives the game name and the normalized name used for the url.
#for example name(from dataframe: grand theft auto iv), name after normalization (name_for_search: grand+theft+auto+iv)
#game_year is used to filter unwanted years, we dont wish to recive data about (we only want games released after 2005)

In [3]:
#this model will try to determine upcoming games probability of becoming "hits", according to older "hits" from all platforms
#we dicided to set a game as a hit if it has more than 1m sales world wide.

#we used three scrapers to scrape data for our dataset from three web pages: 
    #metacritc- 'name':[], 'release date':[], 'developer': [], 'genre':[], 'rating':[], 'user rating':[],'age':[],'platforms':[],'number of players':[]
        #https://www.metacritic.com/browse/games/score/metascore/all/all/filtered
    #pricecharting- prices_list=[]
        #https://www.pricecharting.com/search-products?type=prices&q=dark+souls&go=Go
        #note: prices we used are an average!!! made by the website. pricecharting scrapes a couple of big vide games retailers and popular sites like ebay and amazon.
    #vgchartz - https://www.vgchartz.com
        #note: vgchartz finds data about amount of sales of different video games.
            #we chose two main sales that we found neccesseary, "Total Shipped" & "Total Sales"
            #the reason we chose them is beacuse we sampeld a few games and saw that there is not a lot of difference between them. also on the games weve sampled we found a few that missed one but not the other
    
#we will create different dataframes for making representations:
    #1)general dataframe with all the data we scraped, all other dataframes will be set from this maind dataframe
    #we need to dicide who/what is the:
    #2)biggest seller of games
    #3)biggest developer of games(by amount of games published)
    #4)most popular genre(and which developer makes most of those types of games)
    #5)which developer has best user scores in general for all their games
    #6)which platform has best scores
    #7)set representing difference between sales and critics
    
#the prediction model will rely on data from the list abouve.

In [4]:
def most_frequent_elements(df,col_name):
    top_elements = df[col_name].value_counts(ascending=True)
    return top_elements

In [13]:
df = pd.read_csv('ALL_exceptPriceChart.csv', index_col=0)
df.describe(include='all')

,name,total sales/mil,release date,developer,genre,rating,user rating,age,platforms,number of players
count,16933,5354.000000,16933,16916,16933,16926.000000,16933,16933,16933,16917
unique,11394,NaN,4396,4332,2045,NaN,95,8,32,57
top,Madden NFL 07,NaN,"Nov 14, 2006",Capcom,Action/Platformer/2D,NaN,-,T,PC,No Online Multiplayer
freq,9,NaN,42,279,493,NaN,1205,4994,4359,5137
mean,NaN,1.081371,NaN,NaN,NaN,70.734373,NaN,NaN,NaN,NaN
std,NaN,3.064473,NaN,NaN,NaN,12.362835,NaN,NaN,NaN,NaN
min,NaN,0.000000,NaN,NaN,NaN,11.000000,NaN,NaN,NaN,NaN
25%,NaN,0.110000,NaN,NaN,NaN,64.000000,NaN,NaN,NaN,NaN
50%,NaN,0.320000,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,NaN
75%,NaN,0.900000,NaN,NaN,NaN,80.000000,NaN,NaN,NaN,NaN
max,NaN,82.900000,NaN,NaN,NaN,99.000000,NaN,NaN,NaN,NaN

In [15]:
df.isnull().sum()

name                     0
total sales/mil      11579
release date             0
developer               17
genre                    0
rating                   7
user rating              0
age                      0
platforms                0
number of players       16
dtype: int64